@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />
<div>
    <div>
        <div>
            <h3>What is CSGO Gamba</h3>
            <br />
            <p>CsgoGamba is one of the newest CSGO gambling sites, established in 2022</p>
            <br />
            <p>As you may know, CSGO gambling doesn't have a good reputation. For the most part, CSGO gambling sites have been non-regulated, non-transparent, in many cases illegal, and worst out of all -- fraudulent.</p>
            <br />
            <p>Our mission is to fix that. CsgoGamba is widely known for its stance on fairness and transparency. We are one of the first licensed and regulated skin gambling websites, and we do our best to make the system as fair and as transparent as possible.</p>
            <br />
            <p>You may have heard of cases where a gambling website operated a rigged game for years without getting caught.</p>
            <br />
            <p>For this very reason, we think it's crucial for gambling websites to use a transparent random number generation system.</p>
            <br />
            <p>Our games are fully transparent -- With the art of cryptography, we made our games provably fair.</p>
            <br />
            <p>Let's say you make a large bet on one side of the roulette wheel. Could we manipulate the game so that you lose the bet? Well, we 'could' -- But due to the transparent system, we would immediately be caught, and the message would spread like wildfire.</p>
            <br />
            <p>As some of you may have seen, we also actively scan through other CSGO gambling sites, and we've been pressuring other operators to implement transparent RNG systems. So far, this has been a big success, and we've managed to make the CSGO gambling scene much cleaner than it was some years ago.</p>
            <br />
            <h3>Who Build it</h3>
            <br />
            <p>CsgoGamba is build by Alec Van Oosterwijck at the age of 19 years old</p>
            <br />
            <p>Alec Van Oosterwijck has build this website bec</p>
        </div>
    </div>
</div>